<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="timeDistributionPlugin.commands.RetrievedRecordedIntervalsHandler"
            id="timeDistributionPlugin.commands.RetrieveRecordedIntervals"
            name="RetrievedRecordedIntervals">
      </command>
      <command
            defaultHandler="timeDistributionPlugin.commands.HelloHandler"
            id="timeDistributionPlugin.commands.Hello"
            name="Hello">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="TDP">
            <command
                  commandId="timeDistributionPlugin.commands.RetrieveRecordedIntervals"
                  label="Retrieve meeeee"
                  style="push"
                  tooltip="Retrieve the stuff je weet">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="timeDistributionPlugin.toolbar.Hello"
               label="Hello">
            <command
                  commandId="timeDistributionPlugin.commands.Hello"
                  icon="resources/images/rsz_dog_icon.png"
                  label="Say hello"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="timeDistributionPlugin.StartUpManager"></startup>
   </extension>

</plugin>
