<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="nl.tudelft.watchdog.plugin.commands.StartUpHandler"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="TimeDistributionPlugin.actionSet"
            label="Sample Action Set"
            visible="true">
         <action
               class="nl.tudelft.watchdog.plugin.commands.ExportHandler"
               icon="resources/images/rsz_dog_icon.png"
               id="timeDistributionPlugin.toolbar.Export"
               label="Export"
               toolbarPath="wd"
               tooltip="Export">
         </action>
         <action
               class="nl.tudelft.watchdog.plugin.commands.ResetHandler"
               icon="resources/images/rsz_dog_icon_del.png"
               id="timeDistributionPlugin.commands.Reset"
               label="Reset"
               toolbarPath="wd"
               tooltip="Reset current recording session">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="nl.tudelft.watchdog.plugin.PrefPage"
            id="TimeDistributionPlugin.PreferencePage"
            name="WatchDog">
      </page>
   </extension>

</plugin>
