<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="nl.tudelft.watchdog.timeDistributionPlugin.commands.ExportHandler"
            id="timeDistributionPlugin.commands.Export"
            name="Export">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="timeDistributionPlugin.toolbar.Export"
               label="Export time distribution">
            <command
                  commandId="timeDistributionPlugin.commands.Export"
                  icon="resources/images/rsz_dog_icon.png"
                  label="Export time distribution"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="nl.tudelft.watchdog.timeDistributionPlugin.commands.StartUpManager"></startup>
   </extension>

</plugin>
