**/target
**/bin
Gemfile.lock
*~
# Ignore target files
WatchDogEclipsePlugin/WatchDog/target/
WatchDogEclipsePlugin/WatchDogFeature/target/
WatchDogEclipsePlugin/WatchDogUnitTests/target/
WatchDogEclipsePlugin/p2updatesite/target/
WatchDogIntelliJPlugin/WatchDog/out/production/

# Ignore passwords/config
WatchDogServer/config.yaml

# Ignore WatchDog logfiles
WatchDogServer/logfile.log
watchdoglog.log
watchdog.err.log
watchdog.out.log

# Ignore IntelliJ workspace file
WatchDogIntelliJPlugin/WatchDog/.idea/workspace.xml

