# Project-specific
build_cache/
*.log
Gemfile.lock

# Ignore passwords/config
server/config.yaml

# Maven-specific
target/
classes/

# Intellij-specific
out/
# Other files can not be ignored, as they correctly specify the iml files
# to correctly identify the intellij plugin configuration
.idea/
*.iml

# Eclipse-specific
.project
.classpath
.settings/
