<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ConvertHandler"
            id="testplug2.convert"
            name="convert">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="testplug2.convert"
               label="Create HTML"
               style="push"
               tooltip="umad?">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="Startup">
      </startup>
   </extension>

</plugin>
