<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="nl.tudelft.watchdog.plugin.commands.StartUpHandler"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="nl.tudelft.watchdog.plugin.PrefPage"
            id="TimeDistributionPlugin.PreferencePage"
            name="WatchDog">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="nl.tudelft.watchdog.commands.exportData"
            defaultHandler="nl.tudelft.watchdog.plugin.commands.ExportHandler"
            description="Exports the data from the WatchDog plugin"
            name="Export WatchDog Data">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <command
               commandId="nl.tudelft.watchdog.commands.exportData"
               label="Export WatchDog Data"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
