<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="nl.tudelft.watchdog.ui.preferences.PreferencePage"
            id="WatchDog.PreferencePage"
            name="WatchDog">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="nl.tudelft.watchdog.ui.handlers.InfoStatisticsDialogHandler"
            id="nl.tudelft.watchdog.commands.showWatchDogInfo"
            name="Display WatchDogInfo">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="WatchDog.toolbar">
            <command
                  commandId="nl.tudelft.watchdog.commands.showWatchDogInfo"
                  disabledIcon="resources/images/rsz_dog_icon_del.png"
                  icon="resources/images/rsz_dog_icon.png"
                  label="Show WatchDog Info"
                  style="push"
                  tooltip="WatchDog is inactive!">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="nl.tudelft.watchdog.ui.handlers.StartUpHandler">
      </startup>
   </extension>

</plugin>
