<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="nl.tudelft.watchdog.plugin.commands.StartUpHandler"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="nl.tudelft.watchdog.gui.preferences.PreferencePage"
            id="TimeDistributionPlugin.PreferencePage"
            name="WatchDog">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="nl.tudelft.watchdog.commands.exportData"
            defaultHandler="nl.tudelft.watchdog.plugin.commands.XMLExportHandler"
            description="Exports the data from the WatchDog plugin"
            name="Export WatchDog Data">
      </command>
      <command
            defaultHandler="nl.tudelft.watchdog.plugin.infoDialog.InfoStatisticsDialogHandler"
            id="nl.tudelft.watchdog.commands.showWatchDogInfo"
            name="Display WatchDogInfo">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="WatchDog.toolbar">
            <command
                  commandId="nl.tudelft.watchdog.commands.showWatchDogInfo"
                  disabledIcon="resources/images/rsz_dog_icon_del.png"
                  icon="resources/images/rsz_dog_icon.png"
                  label="Show WatchDog Info"
                  style="push"
                  tooltip="WatchDog is inactive">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="WatchDog">
            <command
                  commandId="nl.tudelft.watchdog.commands.exportData"
                  label="Export WatchDog Data"
                  style="push">
            </command>
            <command
                  commandId="nl.tudelft.watchdog.commands.showWatchDogInfo"
                  label="WatchDog Statistics"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
